<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.piscis.piscisoutoffice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".view.presupuesto.ListaPresupuestosActivity"
            android:exported="false" />
        <activity
            android:name=".view.crearVisita.CrearVisitaActivity"
            android:exported="false" />
        <activity
            android:name=".view.detalleVisita.DetalleVisitaActivity"
            android:exported="false" />
        <activity
            android:name=".view.detalleArticulo.DetalleArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".view.visita.ListaVisitasActivity"
            android:exported="false" />
        <activity
            android:name=".view.articulo.ListaArticulosActivity"
            android:exported="false" />
        <activity
            android:name=".view.factura.ListaFacturasActivity"
            android:exported="false" />
        <activity
            android:name=".view.reserva.ListaReservasActivity"
            android:exported="false" />
        <activity
            android:name=".view.detalleCliente.DetalleClienteActivity"
            android:exported="false" />
        <activity
            android:name=".view.cliente.ListaClientesActivity"
            android:exported="false" />
        <activity
            android:name=".view.comercial.MenuPrincipalComercialActivity"
            android:exported="false" />
        <activity
            android:name=".view.autenticacion.MenuAutenticacionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>